title: 'KCCG Sequencing Laboratory MultiQC Report'
custom_logo: '/home/shyrav/dev/nextflow-kccg-pipelines/Garvan.png'
extra_fn_clean_exts:
  - type: regex_keep
    pattern: '[0-9A-Za-z]+'
  - type: regex_keep
    pattern: 'undetermined'
table_columns_visible:
  FastQC:
    percent_gc: False
  Picard:
    MEDIAN_COVERAGE: False
    MEAN_COVERAGE: True
